name: Build and test

on:
  push:
    branches: [ main ]
    paths:
    - 'src/**'
    - '*.xml'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'maven'
    - name: Build
      run: mvn -B clean package --file pom.xml
    - name: Integration test
      run: mvn -B failsafe:integration-test failsafe:verify --file pom.xml
  compatibility:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        keycloak_version: [ 25.0.6, 26.0.8, 26.1.0, latest ]
        keycloak_dist: [quarkus]
        experimental: [false]
        include:
          - keycloak_version: nightly
            keycloak_dist: quarkus
            experimental: true
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'
      - name: Compatibility tests
        run: mvn -B -U clean test-compile failsafe:integration-test failsafe:verify --file pom.xml -Dkeycloak.version=${{ matrix.keycloak_version }} -Dkeycloak.dist=${{ matrix.keycloak_dist }}
